{
    "presets": [
      "@babel/preset-react",
      ["@babel/preset-env", {
        "targets": {
          "browsers": "last 2 versions"
        },
        "useBuiltIns": "usage",
        "corejs": "3.1.3"
      }]
    ],
    "plugins": ["babel-plugin-styled-components", "@babel/plugin-proposal-object-rest-spread", "@babel/plugin-proposal-class-properties", "@babel/plugin-syntax-dynamic-import"]
  }
